.footer {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  padding: 22px 40px;
  align-items: center;
  background: var(--bg);
  justify-content: space-between;
  border-top: 1px solid var(--border);
}

.footer-wrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin-inline: auto;
  gap: calc(var(--spacing) * 4);
  justify-content: space-between;
  max-width: var(--container-6xl);
}

.footer-left {
  font-size: 13px;
  color: var(--text3);
}

.footer-left-strong {
  font-weight: 500;
  color: var(--text2);
}

.footer-socials {
  gap: 8px;
  display: flex;
}

.fsoc {
  fill: none;
  width: 34px;
  height: 34px;
  padding: 5px;
  display: flex;
  cursor: pointer;
  stroke-width: 2;
  align-items: center;
  stroke: currentcolor;
  color: var(--primary);
  stroke-linecap: round;
  text-decoration: none;
  transition: all 0.18s;
  stroke-linejoin: round;
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: var(--radius-sm);
}

.fsoc:hover {
  color: var(--teal);
  border-color: var(--teal);
  background: var(--teal-a12);
}

@media (max-width: 900px) {
  .footer {
    padding: 18px 20px;
  }
}
